*
{
    margin: 0;
    padding: 0;

}
body,html
{
    height: 100%;
}
a
{
   text-decoration: none;
}
li
{
    list-style: none;
}
.main-menu
{
    display: grid;
    grid-template-columns: 1200px 300px;
    background-color: #F1F1F1;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    
   
}
.logo
{
    justify-content: center;
    align-self: center;
    align-items: flex-start;
    margin: 20px;


}
.menu
{
    display: flex;
    width: 500px;
}
.menu li
{
    padding: 20px;
    align-items: flex-end;
}
.back
{
    background-image:url("../images/img1.jpg");
    min-height: 100%;
    min-width: 1024px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content1
{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
    flex-wrap: wrap;
}
.left
{
    margin-top: 30px;
    width: 35%;
}
.right
{
    margin-top: 30px;
    width: 35%;
    margin-left: 20px;
}
.about
{
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}
.date
{
    text-align: center;
    margin-top: 50px;
}
.information
{
    text-align: center;
    justify-content: center;
    margin-top: 50px;
}
.information2
{
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    color: rgb(104, 100, 100);
}

.hrline
{
    padding-top: 30px;
    padding-right: 225px;
    padding-bottom: 30px;
    padding-left: 225px;
}
.main-menu .burger span
{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    background-color: black;

}
.burger
{
    position: absolute;
    display: none;
}
.ourmenu
{
    justify-content: center;
    text-align: center;
}
.item
{
    margin-top: 50px;
}
.item-info
{
    margin-top: 20px;
}
.contact-us
{
    margin-top: 50px;
    margin-left: 225px;
    margin-bottom: 70px;
    margin-right: 225px;
}
.form
{
    display: flex;
    flex-direction: column;
}
.form input
{
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 12px;
    border-top: none;
    border-left: none;
    border-right: none;

}
::placeholder
{
   padding: 10px;
}
.contact   
{
    margin-bottom: 15px;
}
.info1
{
    margin-top: 25px;
}
.info2
{
    margin-top: 25px;
}
.info3
{
    margin-top: 25px;
}
.btn
{
    width: 100px;
    height: 30px;
    border-radius: 12px;
}
.btn:hover
{
    background-color: black;
    color: wheat;
}

footer
{
    background-color: lightgray;
    height: auto;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
footer p
{
    text-align: center;
    margin-top: 10px;
}

@media screen and (max-width: 1528px) {
    
    .main-menu
    {
        grid-template-columns: 1150px 200px;
    }
  }


  
@media screen and (max-width: 1461px) {
    
    .main-menu
    {
        grid-template-columns: 1100px 190px;
    }
  }
    
@media screen and (max-width: 1422px) {
    
    .main-menu
    {
        grid-template-columns: 1050px 180px;
    }
  }
  @media screen and (max-width: 1371px) {
    
    .main-menu
    {
        grid-template-columns: 950px 160px;
    }
  }
  @media screen and (max-width: 1271px) {
      body
      {
          font-size: 1em;
      }
    
    .main-menu
    {
        grid-template-columns: 850px 150px;
    }
    .content1 .left img
    {
        border-radius: 300px;
    }
    .content1 .right
    {
        border-radius: 350px;
    }
  } 
  @media screen and (max-width: 1178px) {
    
    .main-menu
    {
        grid-template-columns: 750px 130px;
    }
  } 
  @media screen and (max-width: 1076px) {
    
    .main-menu
    {
        grid-template-columns: 600px 120px;
    }
  } 
  @media screen and (max-width: 927px) {
    
    .main-menu
    {
        grid-template-columns: 550px 110px;
    }
  }
  @media screen and (max-width: 829px) {
    
    .navbar
    {
        display: none;
    }
    .burger
    {
        display: block;
        right: 20px;
        top: 20px;
    }
  }


  